<!DOCTYPE html>
<html>
    <body class="mt-5">
        <div class="container">
            <ul>
                <li>Title: {{processTitle}}</li>
                <li>Arguments: {{args}}</li>
                <li>Directory: {{directory}}</li>
                <li>PID: {{processID}}</li>
                <li>Platform: {{platform}}</li>
                <li>Version: {{version}}</li>
                <li>Memory Usage: {{memoryUsage}}</li>
                <li>Enviroment: {{{enviroment}}}</li>
            </ul>
        </div>
    </body>
</html>